.App {
  font-size: 15rem;
  height: 600px;
}

.container {
  padding: 0;
  margin: 0;
  width: 100vw;
}

.flamingoContainer {
  width: 100vw;
  background-color: #B6C3B8;
  padding: 0;
  margin: 0;
  color: #E5D7BE;
  display: flex;
  border: 10px solid salmon;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flamingo {
  height: 100px;
  width: 100px;
}

.bruh {
  font-size: 15rem;
  margin: .5rem;
  /* weird outline hack */
  text-shadow:
		-1px -1px 0 #493848,
		1px -1px 0 #493848,
		-1px 1px 0 #493848,
		1px 1px 0 #493848;
}
